<a href="https://colab.research.google.com/github/yoonyoung27/prac_python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Series

In [2]:
import pandas as pd

In [16]:
new_series = pd.Series([1,2,3,4], name = 'numbers', index = ['a','b','c','d'])
new_series

a    1
b    2
c    3
d    4
Name: numbers, dtype: int64

* name은 none이 default, index는 [0,1,2,...]가 default

In [4]:
new_series.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
new_series.name

'numbers'

In [6]:
new_series.loc['a']

1

* index 이름으로 indexing

In [7]:
new_series.iloc[0]

1

* index 순서로 indexing

In [8]:
new_series.loc['a':'c']

a    1
b    2
c    3
Name: numbers, dtype: int64

* slicing의 마지막을 포함한다

In [ ]:
new_series.iloc[0:2]

* slicing의 마지막을 포함하지 않는다

In [9]:
new_series + 1

a    2
b    3
c    4
d    5
Name: numbers, dtype: int64

* broadcasting이 적용되는 경우

In [10]:
new_series.iloc[0:2] + new_series.iloc[0:4]

a    2.0
b    4.0
c    NaN
d    NaN
Name: numbers, dtype: float64

* broadcasting이 적용되지 않는 경우

In [11]:
new_series.iloc[0:4].mean()

2.5

#Dataframe

In [33]:
new_df = pd.DataFrame([[1,2,3],[6,5,4],[13,14,15],[12,11,10],[7,8,9]], index = ['a','b','c','d','e'], columns = ['A','B','C'])
new_df

    A   B   C
a   1   2   3
b   6   5   4
c  13  14  15
d  12  11  10
e   7   8   9

In [20]:
new_df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [21]:
new_df.columns

Index(['A', 'B', 'C'], dtype='object')

In [34]:
new_df.loc['a':'c', 'A']
#new_df.loc['a':'c']['A']와 같은 표현

a     1
b     6
c    13
Name: A, dtype: int64

In [42]:
new_df.loc['f'] = [16,17,18]
new_df

    A   B   C
a   1   2   3
b   6   5   4
c  13  14  15
d  12  11  10
e   7   8   9
f  16  17  18

In [56]:
new_df.loc[:,'D'] = 0
new_df

    A   B   C  D
a   1   2   3  0
b   6   5   4  0
c  13  14  15  0
d  12  11  10  0
e   7   8   9  0
f  16  17  18  0

* broadcasting이 적용되는 경우

In [51]:
new_df.iloc[0:2, 0]

a    1
b    6
Name: A, dtype: int64

* 단일 연산
  * .abs() : 절댓값
  * .isna() : na여부
  * .notna() : 유효여부
  * .pow() 거듭제곱

* 축 방향 연산 (axis = 0 or 1)
  * .mean() : 평균
  * .median() : 중앙값
  * .max() : 최댓값
  * .min() : 최솟값
  * .sum() : 더하기
  * .prod() : 곱하기
  * .idxmax() : 최대원소의 인덱스
  * .idxmin() : 최소원소의 인덱스

* 누적 축 방향 연산 (axis = 0 or 1)
  * .cummax() : 누적최댓값
  * .cummin() : 누적최솟값
  * .cumprod() : 누적곱셈
  * .cumsum() : 누적덧셈

In [52]:
new_df.shape

(6, 4)

In [53]:
new_df.iloc[1:4].mean()

A    10.333333
B    10.000000
C     9.666667
D     0.000000
dtype: float64

In [54]:
new_df_2 = new_df.sort_values('A', axis=0, ascending=True)
new_df_2

    A   B   C  D
a   1   2   3  0
b   6   5   4  0
e   7   8   9  0
d  12  11  10  0
c  13  14  15  0
f  16  17  18  0

* A를 기준으로 오름차순 정렬

In [55]:
new_df_3 = new_df.rank(axis=0, ascending=True)
new_df_3

     A    B    C    D
a  1.0  1.0  1.0  3.5
b  2.0  2.0  2.0  3.5
c  5.0  5.0  5.0  3.5
d  4.0  4.0  4.0  3.5
e  3.0  3.0  3.0  3.5
f  6.0  6.0  6.0  3.5

* 순위 부여