<a href="https://colab.research.google.com/github/yoonyoung27/prac_python/blob/main/python_prac_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2주차 실습과제1
['Life', 'is', 'too', 'short] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해보자.

In [ ]:
a=['Life', 'is', 'too', 'short']
' '.join(a)

'Life is too short'

#2주차 실습과제2
[1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자.

In [ ]:
a=[1,3,5,4,2]
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

#2주차 실습과제3
(1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.

In [ ]:
a=(1,2,3)
b=(4,)
a+b

(1, 2, 3, 4)

#2주차 실습과제4
다음 표를 딕셔너리로 만드시오.  
항목 값  
name 홍길동  
birth 1128  
age 30

In [ ]:
a={
    'name' : '홍길동',
    'birth' : 1128,
   'age' : 30
}
a

dict

#2주차 실습과제5
다음은 딕셔너리의 a에서 'C'라는 key에 해당되는 value를 출력하는 프로그램이다.  
\>\>\> a = {'A':90, 'B':80}  
\>\>\> a['C']  
Traceback (most recent call last):  
  File "<stdin>", line 1, in <module>  
  KeyError: 'C'  
  a 딕셔너리에는 'C라는 key가 없으므로 위와같은 오류가 발생하게 된다. 'C'에 해당되는 키값이 없을 경우 오류 대신 70을 얻을 수 있도록 정해보자.

In [ ]:
a = {'A':90, 'B':80}
a.get('C', '70')

'70'

#2주차 실습과제6
중복을 허용하지 않는 집합 자료형의 특징을 이용하여 다음 a리스트에서 중복된 숫자들을 제거해보자.
a = [1,1,1,2,2,3,3,3,4,4,5]

In [ ]:
a = [1,1,1,2,2,3,3,3,4,4,5]
s = set(a)
s

{1, 2, 3, 4, 5}

#2주차 실습과제7
아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.  
이름 가격 재고  
메로나 300 20  
비비빅 400 3  
죠스바 250 100

In [ ]:
inventory = {'메로나':[300,20], '비비빅':[400,3], '죠스바':[250,100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

#2주차 실습과제8
(1) 2-7의 inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.  
실행 예시 : 300원  
(2) 2-7의 inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.  
실행 예시 : 20개  
(3) 2-7의 inventory 딕셔너리에 아래 데이터를 추가하라.  
이름 가격 재고  
월드콘 500 7

In [ ]:
print("%d원" %inventory['메로나'][0])
print("%d개" %inventory['메로나'][1])
inventory['월드콘'] = [500, 7]
inventory

300원
20개

{'메로나': [300, 20], '비비빅': [400, 3], '월드콘': [500, 7], '죠스바': [250, 100]}

#2주차 실습과제9
다음 my_list에서 대문자만 화면에 출력하라.  
my_list = ["A", "b", "c", "D"]  
실행 예 :  
A  
D

In [ ]:
my_list=['A',"b","c","D"]
for val in my_list:
    if val.isupper():
        print(val)

A
D

#2주차 실습과제10
문자열의 upper() 메서드는 문자열을 대문자로 변경하고, lower() 메서드는 소문자로 변환한다.  
\>\> 'korea'.upper()  
KOREA  
\>\> 'KOREA'.lower()  
korea  
아래의 리스트의 문자를 대문자는 소문자로, 소문자는 대문자로 변환하라.  
my_list = ["A","b","c","D"]  
실행예: aBCd

In [ ]:
for val in my_list:
    if val.isupper():
        print(val.lower(), end='')
    else:
        print(val.upper(), end='')

aBCd