<a href="https://colab.research.google.com/github/yoonyoung27/prac_python/blob/main/python_prac_week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4주차 실습과제1
사용자로부터 입력 받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를, 아닐 경우 "오답입니다"를 출력하라.

fruit = ["사과","포도","홍시"]

실행 예:

\>>좋아하는 과일은? 사과

정답입니다.

In [ ]:
fruit = ["사과","포도","홍시"]
answer = input("좋아하는 과일은? ")

if answer in fruit:
    print("정답입니다")
else:
    print("오답입니다")

좋아하는 과일은? 사과
정답입니다

#4주차 실습과제2
점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다.

점수   학점

81~100  A

61~80   B

41~60   C

21~40   D

0~20    E

다음과 같이 실행되도록 프로그램을 코딩하라.

\>> score:83

grade is A

In [ ]:
score = int(input("score:"))

print("grade is",end=" ")
if score>80:
    print("A")
elif score>60:
    print("B")
elif score>40:
    print("C")
elif score>20:
    print("D")
else:
    print("E")

score:83
grade is A

#4주차 실습과제3
주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다.

먼저 앞에서부터 12자리의 숫자에 2,3,4,5,6,7,8,9,2,3,4,5를 차례대로 곱한 뒤, 그 값을 전부 더한다.

연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값을 다시 10으로 나누어서 나머지를 구한 것이 주민등록번호의 마지막 번호가 된다.

다음과 같이 사용자로부터 주민등록번호를 입력받은 후 주민등록번호가 유효한지를 출력하는 프로그램을 작성하라

\>>주민등록번호:821010-1635210

유효하지 않은 주민등록번호입니다.

In [ ]:
pin = input("주민등록번호:")
pin1 = pin.split('-')
pin2 = "".join(pin1)

num_list = [2,3,4,5,6,7,8,9,2,3,4,5]
sum=0
for i in range(len(pin2)-1):
    sum+=int(pin2[i])*num_list[i]

sum1 = (11-sum%11)%10

if sum1==int(pin2[-1]):
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호:821010-1635214
유효한 주민등록번호입니다.

#4주차 실습과제4
어떤 상점에서는 상품을 한꺼번에 많이 구매하면 다음과 같이 상품 가격을 할인해 준다.

10개 미만 : 상품 하나에 100원

10개 이상 30개 미만 : 상품 하나에 95원

30개 이상 100개 미만 : 상품 하나에 90원

100개 이상 : 상품 하나에 85원

이 쇼핑몰에서 구매할 상품 개수를 입력받아, 총 지불해야 할 가격을 계산하는 함수 price()를 정의하라.

함수를 정의한 후에는 이 함수에 여러 상품 개수를 입력하여 결과가 올바른지 확인해 보아라.

In [10]:
def price():
    num = input("구매할 상품 개수 : ")
    num = num.split(',')
    print("총 지불해야 할 가격 : ", end="")
    tot = []
    for i in range(len(num)):
        if int(num[i])<10:
            tot.append(int(num[i])*100)
        elif int(num[i])<30:
            tot.append(int(num[i])*95)
        elif int(num[i])<100:
            tot.append(int(num[i])*90)
        else:
            tot.append(int(num[i])*85)
    print(*tot, sep = ",")

price()

구매할 상품 개수 : 8,17,59,144
총 지불해야 할 가격 : 800,1615,5310,12240

#4주차 실습과제5
연을 매개변수로 입력받아 그 해가 윤년인지 아닌지를 True 또는 False로 반환하는 함수 is_leap_year()을 정의하라.

어떤 해가 윤년인지 아닌지를 판단하는 규칙은 다음과 같다.

* 그 해의 수가 4로 나누어 떨어지면 윤년이다(예:1996년은 윤년이다)
* 단, 그 해의 수가 100으로 나누어 떨어지면 윤년이 아니다(예:1900년은 윤년이 아니다)
* 단, 그 해의 수가 400으로 나누어 떨어지면 윤년이다(예:2000년은 윤년이다)

In [ ]:
def is_leap_year():
    this_year = int(input("올해는 몇년인가요? "))
    is_leap = "leap"
    if (this_year%4==0 and this_year%100!=0) or this_year%400==0:
        pass
    else:
        is_leap = "not leap"
    return is_leap=="leap"

is_leap_year()

올해는 몇년인가요? 1996

True

#4주차 실습과제6
연과 월을 매개변수로 입력받아, 그 달이 며칠까지 있는지 반환하는 함수 days_in_month()를 작성하라. 이 때, 2월의 길이는 윤년인지 아닌지에 따라 다르다. 윤년 계산을 위해 연습문제 4-5에서 만든 함수를 활용하라.

In [ ]:
def leap_ftn(m):
    if m%2==0 and m!=2:
        ans=30
    elif m==2:
        ans=29
    else:
        ans=31
    return ans

def not_leap_ftn(m):
    if m%2==0 and m!=2:
        ans=30
    elif m==2:
        ans=28
    else:
        ans=31
    return ans

def days_in_month(yea, mon):
    if (yea%4==0 and yea%100!=0) or yea%400==0:
        answer = leap_ftn(mon)
    else:
        answer = not_leap_ftn(mon)
    return answer

days_in_month(1996, 2)

29

#4주차 실습과제7
1부터 1000까지의 자연수 중 3의 배수의 합을 구하시오.

In [ ]:
sum=0
for i in range(1,1001):
    if i%3==0:
        sum+=i
sum

166833

#4주차 실습과제8
다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상의 점수들의 총합을 구하시오.

A=[20,55,67,82,45,33,90,87,100,25]

In [ ]:
A=[20,55,67,82,45,33,90,87,100,25]

sum=0
for i in A:
    if i>=50:
        sum+=i
sum

481

#4주차 실습과제9
while문을 이용하여 아래와 같이 별(*)을 표시하는 프로그램을 작성해보자.

\*

\**

\***

\****

In [ ]:
N=1
while N<5:
    print('*'*N)
    N+=1

*
**
***
****

#4주차 실습과제10
1백 이상, 1만 미만인 자연수 가운데 5의 배수를 모두 합하면 얼마인지 while문을 이용해 계산해 보아라

In [ ]:
N=100
sum=0
while N<10000:
    sum+=N
    N+=5
sum

9994050

#4주차 실습과제11
1부터 100까지의 숫자를 for문을 이용하여 출력하시오.

In [ ]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

#4주차 실습과제12
for문을 이용하여 A학급의 평균 점수를 구해 보자.

A=[70,60,55,75,95,90,80,80,85,100]

In [ ]:
A=[70,60,55,75,95,90,80,80,85,100]

sum=0
for i in A:
    sum+=i
ave=sum/len(A)
ave

79.0

#4주차 실습과제13
369게임

* 1에서 100까지의 숫자를 리스트에 append 할 것
* 단 3,6,9가 포함된 수는 *을 append 할 것

In [ ]:
num=[]
for i in range(1,101):
    if i%10==3 or i%10==6 or i%10==9:
        num.append("*")
    elif i//10==3 or i//10==6 or i//10==9:
        num.append("*")
    else:
        num.append(i)
num

[1,
 2,
 '*',
 4,
 5,
 '*',
 7,
 8,
 '*',
 10,
 11,
 12,
 '*',
 14,
 15,
 '*',
 17,
 18,
 '*',
 20,
 21,
 22,
 '*',
 24,
 25,
 '*',
 27,
 28,
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 40,
 41,
 42,
 '*',
 44,
 45,
 '*',
 47,
 48,
 '*',
 50,
 51,
 52,
 '*',
 54,
 55,
 '*',
 57,
 58,
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 70,
 71,
 72,
 '*',
 74,
 75,
 '*',
 77,
 78,
 '*',
 80,
 81,
 82,
 '*',
 84,
 85,
 '*',
 87,
 88,
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 100]

In [14]:
num=[]
for i in range(1,101):
    if '3' in str(i) or '6' in str(i) or '9' in str(i):
        num.append("*")
    else:
        num.append(i)
num

[1,
 2,
 '*',
 4,
 5,
 '*',
 7,
 8,
 '*',
 10,
 11,
 12,
 '*',
 14,
 15,
 '*',
 17,
 18,
 '*',
 20,
 21,
 22,
 '*',
 24,
 25,
 '*',
 27,
 28,
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 40,
 41,
 42,
 '*',
 44,
 45,
 '*',
 47,
 48,
 '*',
 50,
 51,
 52,
 '*',
 54,
 55,
 '*',
 57,
 58,
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 70,
 71,
 72,
 '*',
 74,
 75,
 '*',
 77,
 78,
 '*',
 80,
 81,
 82,
 '*',
 84,
 85,
 '*',
 87,
 88,
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 '*',
 100]

#4주차 실습과제14
1부터 100까지의 자연수 중 3의 배수이거나 4의 배수인 자연수를 출력하는 프로그램을 작성하여라.

In [ ]:
for i in range(1,101):
    if i%3==0 or i%4==0:
        print(i)

3
4
6
8
9
12
15
16
18
20
21
24
27
28
30
32
33
36
39
40
42
44
45
48
51
52
54
56
57
60
63
64
66
68
69
72
75
76
78
80
81
84
87
88
90
92
93
96
99
100

#4주차 실습과제15
리스트 하나를 매개변수로 전달받아, 리스트에서 가장 큰 요소를 반환하는 함수를 정의해 보아라. 단, max()함수를 사용해서는 안된다.

In [ ]:
list = [8,65,12,95,7,3,52,50,75,69,22,45,84,42,11,80,63,42,84,1]

def max_list(lst):
    x=0
    for i in lst:
        if i>=x:
            x=i
    return x

max_list(list)

95

#4주차 실습과제16
약수가 1과 자기 자신 뿐인 자연수를 소수라고 한다. 어떤 수를 입력받아 그 수가 소수인지 검사하여 True 또는 False를 반환하는 함수 is_prime()을 정의하라. 그 후, 정의한 함수를 이용해 1이상 100미만의 모든 소수의 합을 계산하라.

In [ ]:
old_list=[2,5,80,45,68,7,35,51,91,88,41,43,57,75,19,85,35,47,49,67]
new_list=[]

def is_prime(lst):
    for i in lst:
        n=2
        k=0
        while n<i:
            if i%n==0:
                n+=1
                k+=1
            else:
                n+=1
        if k==0:
            new_list.append(i)

is_prime(old_list)
new_list

[2, 5, 7, 41, 43, 19, 47, 67]