<a href="https://colab.research.google.com/github/yoonyoung27/prac_python/blob/main/%ED%95%B8%EC%A6%88%EC%98%A8_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn.linear_model

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [30]:
# 데이터 적재
oecd_bli = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/oecd_bil_2015.csv", thousands=',')
gdp_per_capita = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/gdp_per_capita.csv",thousands=',',delimiter='\t',
                             encoding='latin1', na_values="n/a")

In [27]:
oecd_bli.head()

  LOCATION         Country INDICATOR  ... Value Flag Codes Flags
0      AUS       Australia   JE_LMIS  ...   5.4        NaN   NaN
1      AUT         Austria   JE_LMIS  ...   3.5        NaN   NaN
2      BEL         Belgium   JE_LMIS  ...   3.7        NaN   NaN
3      CAN          Canada   JE_LMIS  ...   6.0        NaN   NaN
4      CZE  Czech Republic   JE_LMIS  ...   3.1        NaN   NaN

[5 rows x 17 columns]

In [28]:
gdp_per_capita.head()

  WEO Country Code,ISO,WEO Subject Code,Country,Subject Descriptor,Subject Notes,Units,Scale,Country/Series-specific Notes,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Estimates Start After
0  512,AFG,NGDP_R,Afghanistan,"Gross domestic pro...
1  512,AFG,NGDP_RPCH,Afghanistan,"Gross domestic ...
2  512,AFG,NGDP,Afghanistan,"Gross domestic produ...
3  512,AFG,NGDPD,Afghanistan,"Gross domestic prod...
4  512,AFG,NGDP_D,Afghanistan,"Gross domestic pro...

In [21]:
def prepare_country_stats(oecd_bli, gdp_per_capita):
    oecd_bli = oecd_bli[oecd_bli["INEQUALITY"]=="TOT"]
    oecd_bli = oecd_bli.pivot(index="Country", columns="Indicator", values="Value")
    gdp_per_capita.rename(columns={"2015": "GDP per capita"}, inplace=True)
    gdp_per_capita.set_index("Country", inplace=True)
    full_country_stats = pd.merge(left=oecd_bli, right=gdp_per_capita,
                                  left_index=True, right_index=True)
    full_country_stats.sort_values(by="GDP per capita", inplace=True)
    remove_indices = [0, 1, 6, 8, 33, 34, 35]
    keep_indices = list(set(range(36)) - set(remove_indices))
    return full_country_stats[["GDP per capita", 'Life satisfaction']].iloc[keep_indices]

In [22]:
# 데이터 준비
country_stats = prepare_country_stats(oecd_bli, gdp_per_capita)
X = np.c_[country_stats["GDP per capita"]]
y = np.c_[country_stats["Life satisfaction"]]

KeyError: ignored